In [1]:
import numpy as np
import pandas as pd

In [2]:
# 1. Load a CSV file into a Pandas DataFrame and display the first 5 rows.
df = pd.read_csv("/content/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# 2. Select the 'Name' and 'Age' columns from a DataFrame named df.
df[["Name", "Age"]]

                                                  Name   Age
0                              Braund, Mr. Owen Harris  22.0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
2                               Heikkinen, Miss. Laina  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
4                             Allen, Mr. William Henry  35.0
..                                                 ...   ...
886                              Montvila, Rev. Juozas  27.0
887                       Graham, Miss. Margaret Edith  19.0
888           Johnston, Miss. Catherine Helen "Carrie"   NaN
889                              Behr, Mr. Karl Howell  26.0
890                                Dooley, Mr. Patrick  32.0

[891 rows x 2 columns]

In [4]:
# 3. Group a DataFrame by the 'Department' column and calculate the average salary in each department.
emp = pd.read_csv("/content/employees.csv")
emp

        ID     Name   Department  Salary Joining_Date
0   EMP001    Alice      Finance   50000   2024-09-07
1   EMP002      Bob        Sales   90000   2020-11-16
2   EMP003  Charlie      Support  100000   2020-07-10
3   EMP004    David      Finance  100000   2023-01-15
4   EMP005      Eva      Finance   55000   2023-12-15
5   EMP006    Frank    Marketing   85000   2023-08-18
6   EMP007    Grace        Sales   30000   2021-01-11
7   EMP008    Helen    Marketing   50000   2020-11-18
8   EMP009      Ian    Marketing   85000   2023-06-27
9   EMP010     Jane        Sales   25000   2021-08-31
10  EMP011     Kyle  Engineering   85000   2023-04-23
11  EMP012    Laura  Engineering   65000   2021-12-16
12  EMP013     Mike      Support   95000   2021-03-19
13  EMP014     Nina    Marketing   70000   2022-06-05
14  EMP015    Oscar           HR   90000   2025-05-30
15  EMP016    Paula    Marketing  100000   2020-11-08
16  EMP017    Quinn    Marketing   45000   2025-05-26
17  EMP018   Rachel    Marketing   55000   2021-11-03
18  EMP019    Steve      Support   70000   2022-07-17
19  EMP020     Tina  Engineering   55000   2022-01-25
20  EMP021      Uma      Support   30000   2021-05-10
21  EMP022   Victor      Support   30000   2022-12-05
22  EMP023    Wendy      Support   75000   2025-02-22
23  EMP024   Xander  Engineering   30000   2023-07-08
24  EMP025     Yara  Engineering   30000   2024-05-31
25  EMP026     Zane    Marketing  100000   2022-03-02
26  EMP027    Brian      Support   50000   2023-11-25
27  EMP028    Chloe           HR   30000   2024-12-29
28  EMP029    Derek  Engineering   35000   2024-02-20
29  EMP030    Fiona        Sales   50000   2023-06-09
30  EMP031    Gavin        Sales   35000   2020-07-07
31  EMP032   Hannah        Sales   35000   2024-03-19
32  EMP033     Isla      Finance   60000   2025-01-19
33  EMP034     Jack    Marketing   85000   2023-07-31
34  EMP035    Karen        Sales   40000   2022-02-24
35  EMP036      Leo    Marketing   60000   2024-03-10
36  EMP037     Mona        Sales   30000   2021-01-19
37  EMP038     Noah           HR   35000   2025-05-24
38  EMP039   Olivia    Marketing   90000   2021-03-23
39  EMP040    Peter        Sales   75000   2021-12-14
40  EMP041    Queen  Engineering   65000   2021-02-12
41  EMP042      Ray    Marketing   55000   2025-06-17
42  EMP043     Sara      Finance   75000   2021-01-26
43  EMP044      Tom  Engineering   60000   2024-08-19
44  EMP045     Usha  Engineering   65000   2023-07-29
45  EMP046   Violet      Support   85000   2021-05-05
46  EMP047     Will      Finance   45000   2021-12-30
47  EMP048    Xenia  Engineering   70000   2022-01-19
48  EMP049    Yusuf  Engineering   95000   2023-11-11
49  EMP050     Zoey        Sales   75000   2021-08-26

In [5]:
emp.groupby(["Department"])["Salary"].mean()

Department
Engineering    59545.454545
Finance        64166.666667
HR             51666.666667
Marketing      73333.333333
Sales          48500.000000
Support        66875.000000
Name: Salary, dtype: float64

In [6]:
# 4. Sort a DataFrame by the 'Date' column in ascending order. (Take the dataset accordingly)
sorted_emp = emp.sort_values(by='Joining_Date', ascending=True)
sorted_emp

        ID     Name   Department  Salary Joining_Date
30  EMP031    Gavin        Sales   35000   2020-07-07
2   EMP003  Charlie      Support  100000   2020-07-10
15  EMP016    Paula    Marketing  100000   2020-11-08
1   EMP002      Bob        Sales   90000   2020-11-16
7   EMP008    Helen    Marketing   50000   2020-11-18
6   EMP007    Grace        Sales   30000   2021-01-11
36  EMP037     Mona        Sales   30000   2021-01-19
42  EMP043     Sara      Finance   75000   2021-01-26
40  EMP041    Queen  Engineering   65000   2021-02-12
12  EMP013     Mike      Support   95000   2021-03-19
38  EMP039   Olivia    Marketing   90000   2021-03-23
45  EMP046   Violet      Support   85000   2021-05-05
20  EMP021      Uma      Support   30000   2021-05-10
49  EMP050     Zoey        Sales   75000   2021-08-26
9   EMP010     Jane        Sales   25000   2021-08-31
17  EMP018   Rachel    Marketing   55000   2021-11-03
39  EMP040    Peter        Sales   75000   2021-12-14
11  EMP012    Laura  Engineering   65000   2021-12-16
46  EMP047     Will      Finance   45000   2021-12-30
47  EMP048    Xenia  Engineering   70000   2022-01-19
19  EMP020     Tina  Engineering   55000   2022-01-25
34  EMP035    Karen        Sales   40000   2022-02-24
25  EMP026     Zane    Marketing  100000   2022-03-02
13  EMP014     Nina    Marketing   70000   2022-06-05
18  EMP019    Steve      Support   70000   2022-07-17
21  EMP022   Victor      Support   30000   2022-12-05
3   EMP004    David      Finance  100000   2023-01-15
10  EMP011     Kyle  Engineering   85000   2023-04-23
29  EMP030    Fiona        Sales   50000   2023-06-09
8   EMP009      Ian    Marketing   85000   2023-06-27
23  EMP024   Xander  Engineering   30000   2023-07-08
44  EMP045     Usha  Engineering   65000   2023-07-29
33  EMP034     Jack    Marketing   85000   2023-07-31
5   EMP006    Frank    Marketing   85000   2023-08-18
48  EMP049    Yusuf  Engineering   95000   2023-11-11
26  EMP027    Brian      Support   50000   2023-11-25
4   EMP005      Eva      Finance   55000   2023-12-15
28  EMP029    Derek  Engineering   35000   2024-02-20
35  EMP036      Leo    Marketing   60000   2024-03-10
31  EMP032   Hannah        Sales   35000   2024-03-19
24  EMP025     Yara  Engineering   30000   2024-05-31
43  EMP044      Tom  Engineering   60000   2024-08-19
0   EMP001    Alice      Finance   50000   2024-09-07
27  EMP028    Chloe           HR   30000   2024-12-29
32  EMP033     Isla      Finance   60000   2025-01-19
22  EMP023    Wendy      Support   75000   2025-02-22
37  EMP038     Noah           HR   35000   2025-05-24
16  EMP017    Quinn    Marketing   45000   2025-05-26
14  EMP015    Oscar           HR   90000   2025-05-30
41  EMP042      Ray    Marketing   55000   2025-06-17

In [7]:
# 5. Add one new New column with into a existing DataFrame.
print(emp.columns)
print("Min Salary: ",emp["Salary"].min())
print("Max Salary: ",emp["Salary"].max())

Index(['ID', 'Name', 'Department', 'Salary', 'Joining_Date'], dtype='object')
Min Salary:  25000
Max Salary:  100000

In [8]:
emp["Salary_Level"] = pd.cut(emp["Salary"] , bins = [20000, 40000, 60000, 80000, 100000] , labels =  ["Low","Medium","High","Very High"])
emp[["Salary","Salary_Level"]]

    Salary Salary_Level
0    50000       Medium
1    90000    Very High
2   100000    Very High
3   100000    Very High
4    55000       Medium
5    85000    Very High
6    30000          Low
7    50000       Medium
8    85000    Very High
9    25000          Low
10   85000    Very High
11   65000         High
12   95000    Very High
13   70000         High
14   90000    Very High
15  100000    Very High
16   45000       Medium
17   55000       Medium
18   70000         High
19   55000       Medium
20   30000          Low
21   30000          Low
22   75000         High
23   30000          Low
24   30000          Low
25  100000    Very High
26   50000       Medium
27   30000          Low
28   35000          Low
29   50000       Medium
30   35000          Low
31   35000          Low
32   60000       Medium
33   85000    Very High
34   40000          Low
35   60000       Medium
36   30000          Low
37   35000          Low
38   90000    Very High
39   75000         High
40   65000         High
41   55000       Medium
42   75000         High
43   60000       Medium
44   65000         High
45   85000    Very High
46   45000       Medium
47   70000         High
48   95000    Very High
49   75000         High

In [9]:
print(emp.columns)
emp["Salary_Level"].value_counts()

Index(['ID', 'Name', 'Department', 'Salary', 'Joining_Date', 'Salary_Level'], dtype='object')

Salary_Level
Very High    14
Low          13
Medium       13
High         10
Name: count, dtype: int64

In [10]:
# 6. Difference between iloc and loc function, explain with example.
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Department': ['HR', 'Sales', 'Engineering']
}
df = pd.DataFrame(data, index=['a', 'b', 'c'])
df

      Name  Age   Department
a    Alice   25           HR
b      Bob   30        Sales
c  Charlie   35  Engineering

The difference between .iloc[] and .loc[] in Pandas is based on how they access data in a DataFrame:

**.iloc[]** → Integer-location based indexing.
Uses row and column positions (0-based index).
It is used when you know the position of the element.
Syntax: **iloc[row_index, column_index]**

**.loc[]** → Label-based indexing.
Uses row labels and column names.
It is used when you know the names/labels of the element.
Syntax: **loc[row_label, column_name]**

In [11]:
print("Row 0:\n",df.iloc[0],"\n")
print("Value at 2nd row and 1st column: ",df.iloc[1,0], "\n")

Row 0:
 Name          Alice
Age              25
Department       HR
Name: a, dtype: object

Value at 2nd row and 1st column:  Bob

In [12]:
print("Row with label 'b'\n", df.loc['b'], "\n")
print("Get the age of person with label 'c'", df.loc['c', 'Age'], "\n")

Row with label 'b'
 Name            Bob
Age              30
Department    Sales
Name: b, dtype: object

Get the age of person with label 'c' 35